# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Secrets and local data
.env
*.sqlite3

# Node (for FRONT END)
node_modules/

# Editors / OS
.vscode/
.DS_Store
Thumbs.db
db.sqlite3
staticfiles/
